#carouselExampleCaptions {
  max-height: 400px!important;
}
.bd-example {
  max-height: 400px!important;
}
.featurette-heading {
  color: #AF94B6!important;
}

a {
  color: #AF94B6;
}

a:hover {
  color: #9271a8;
  text-decoration-color: #9271a8;
}


.d-block {
  opacity: 0.35;!important;
}

.carouselHeading {
  color: #675e66;
  font-size: 2rem;
}