#carouselExampleCaptions{
  max-height: 400px!important;
}
.bd-example{
  max-height: 400px!important;
}
.featurette-heading{
  color: #AF94B6!important;
}

a{
  color: #AF94B6;
}

.d-block w-100{
  opacity: 0.5;!important;
}

.carouselHeading{
  color: black;
}