#title{
  margin-top: 15px;
  margin-bottom: 60px!important;
}

.display-3 {
  color : #805d89;
  text-align : center;
  font-weight : 300;
  margin-top : 0.5em;
  margin-bottom : 0.5em;
}

.rounded {

}

.float-left {

}

.float-right {

}

.main-text {

}

.display-4 {
  color : #805d89;
  text-align : center;
  font-weight : 300;
  margin-top : 0.5em;
  margin-bottom : 0.5em;
}

.lead {
  text-align : center;
}
