.display-4 {
    color : #805d89;
    text-align : center;
    font-weight : 300;
    margin-top : 0.5em;
    margin-bottom : 0.5em;
}

.display-2 {
    color : #805d89;
    text-align : center;
    font-weight : 300;
    margin-top : 0.5em;
    margin-bottom : 0.5em;
}

.col.text > a > p {
    margin-bottom: 0!important;
}

#noAccountLabel {
    color: red;
}

#toLogin {
    border-color: #63486a;
}

#toRegistration {
    border-color: #63486a;
}

.card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px);
    padding: 2rem;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    width: 100%;
}

.card {
    margin : 3% 10% 3% 10%;
    background-color : #E2D5DD;
}

.card-header {
    padding : 0 0 0 0;
}

.card-block {
    margin: 1.5em 2em 1em 1em;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-muted {
    color: #6c757d!important;
    font-size: 2rem;
}


.card-text {
    overflow : auto;
}

#bookImg {
    max-width: 100%;!important;
    max-height: 100%;!important;
    object-fit: cover;
}

i {
    display : inline-block;
}

.card-block a {
    text-decoration : none;
    color: #9271a8!important;
}

.card-block a:hover {
    color : #63486a!important;
}

@media screen and (max-width: 1006px) {
    #link-box {
        margin : 2em 35% 2em 30%;
    }

    #link-intro {
        display: block;
    }

    #booklink {
        margin-right: 15%;
        margin-left : 15%;
    }
}

form{
    padding: 1rem 10rem 2rem;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #805d89;
    border-color: blueviolet;
}

.card-img-top {
    max-height: 300px;!important;
    max-width: 200px;!important;
}

.close.focus, .close:focus{
    outline: 0;
    box-shadow: none!important;
    color: #2c222a;
}

.authorInterview{
    text-align: center;!important;
}

.reviewTitle{
    color: #6c757d!important;
}

.reviewBody{
    font-style: italic;!important;
    text-align: center;!important;
}

.similarBookLink a{
    color: #9271a8!important;
}

.similarBookLink a:hover{
    color : #63486a!important;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width : 300px;
    background-color: #2c222a;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
}

/* Show the snackbar when a book/books order is successful*/
.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}