h1 {
    color : #805d89;
    text-align : center;
    font-weight : bold;
    margin-top : 0.5em;
    margin-bottom : 1.0em;
}

.col-3 {
    padding : 0 0 0 0;
}

@media only screen and (max-width: 768px){
    .flex-container {
        display : flex;
        flex-flow : column nowrap;
        margin : 0 0 5% 0;
        justify-content : center;
        width : 50%;
    }

    .flex-container > div {
        background-color : #f0e6ee;
        width : 100%;
        margin : 0 0 0.25em 0;
        padding : 0 0 0 0;
        font-size : 1em;
        text-align : center;
        border-radius : 5px;
        overflow-wrap : break-spaces;
    }
}

@media only screen and (min-width: 769px){
    .flex-container {
        display : flex;
        flex-flow : column nowrap;
        margin : 0 0 5% 0;
        justify-content : center;
        width : 30%;
    }

    .flex-container > div {
        background-color : #f0e6ee;
        width : 100%;
        margin : 0 0 0.25em 0;
        padding : 0 0 0 0;
        font-size : 1em;
        text-align : center;
        border-radius : 5px;
        overflow-wrap : break-spaces;
    }
}

@media only screen and (min-width: 1017px){
    .flex-container {
        display : flex;
        flex-flow : column nowrap;
        margin : 0 0 5% 0;
        justify-content : center;
        width : 34.5%;
    }

    .flex-container > div {
        background-color : #f0e6ee;
        width : 100%;
        margin : 0 0 0.25em 0;
        padding : 0 0 0 0;
        font-size : 0.8em;
        text-align : center;
        border-radius : 5px;
        overflow-wrap : break-spaces;
    }
}

.flex-container > div a{
    text-decoration-color: #63486a;
}

.flex-container > div:hover {
    background-color : #cbb4c2;
}

.flex-container > div:active {
    background-color : #cbb4c2;
}

.genre {
    color : #63486a;
    margin-top : 0.5em;
    word-break: keep-all;
}

.theme {
    color : #63486a;
    margin-top : 0.5em;
    word-break: keep-all;
}