.display-4 {
    color : #805d89;
    text-align : center;
    font-weight : 300;
    margin-top : 0.5em;
    margin-bottom : 1em;
}

.display-5 {
    color: white;
}

.row {
    border-right: 8px solid #b0a5ae;
}

#reset {
    margin-bottom : 3px;
}

#reset > a {
    color : red;
}

#filter {
    margin-bottom: 3em;
}

.col-md-12 {
    padding-right : 0;
    padding-left : 0;
}

.tab-content {
    padding-top: 0!important;
    padding-bottom: 0!important;
    width : 100%;
    height : 100%;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.vertical-tab {
    display: table;
}

.vertical-tab .nav-tabs {
    display: table-cell;
    min-width: 28%;
    border-bottom: none;
    border-right: 8px solid #b0a5ae;
}

.vertical-tab .nav-tabs li {
    float: none;
    vertical-align: top;
}

.vertical-tab .nav-tabs li a {
    display: block;
    padding: 16px;
    margin-right: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background: #2c222a;
    border: none;
    border-radius: 0;
    position: relative;
}
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li a.active {
    background: #b0a5ae;
    border: none;
    color: #fff;
}
.vertical-tab .nav-tabs li a.active:after {
    content: "";
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,#b0a5ae 49%, transparent 50%);
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%) rotate(45deg);
}
.vertical-tab .tab-content {
    display: table-cell;
    padding: 15px 20px;
    font-size: 15px;
    color: #272e38;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
    vertical-align: top;
}
.vertical-tab .tab-content h3 {
    padding-bottom: 10px;
    margin: 0 0 10px 0;
    font-weight: 600;
    color: #b0a5ae;
    text-transform: uppercase;
    border-bottom: 1px solid #272e38;
}
@media only screen and (max-width: 479px) {
    .vertical-tab{
        border-right: none;
        border-bottom: 8px solid #b0a5ae;
    }
    .vertical-tab .nav-tabs{
        display: block;
        margin: 0 -10px;
        border-right: none;
    }
    .vertical-tab .nav-tabs li {
        margin-bottom: 10px;
    }

    .vertical-tab .nav-tabs li:last-child {
        margin-bottom: 0;
    }

    .vertical-tab .nav-tabs li a {
        padding: 10px;
    }

    .vertical-tab .nav-tabs li a.active:after {
        display: none;
    }

    .vertical-tab .tab-content {
        display: block;
        padding: 15px 0;
    }

    .vertical-tab .tab-content h3 {
        font-size: 18px;
    }
}

.genre {
    color : white;
    margin-top : 0.5em;
    word-break: keep-all;
}

.theme {
    color : white;
    margin-top : 0.5em;
    word-break: keep-all;
}

/*cambio valori per il testo per farlo sempre stare nelle card, soprattutto per grandezza testo/spazio tra le righe e le parole*/
.text-faded > p {
    text-decoration: none;
    color : white;
    margin : 0 0.7em 20% 0.7em;
}

.card-deck {
    margin-left: 0!important;
    margin-right: 0!important;
}

.card {
    max-width : 292px;
    max-height : 180px;
    margin-left : 11%!important;
    background-color: #2c222a;
}

.card > a {
    color : #9271a8;
    width : 100%;
    height : 100%;
    max-width: 292px;
    max-height: 180px;
}

.card > a > .row {
    width : 100%;
    height : 100%;
    max-width: 292px;
    max-height: 180px;
}

.card > a > .row > .col-md-4{
    width : 100%;
    height : 100%;
    max-width: 292px;
    max-height: 180px;
}

.card > a > .row > .col-md-8{
    width : 100%;
    height : 100%;
    max-width: 292px;
    max-height: 180px;
}

.card-img {
    margin-top: 15.7%;
    width: 100%;
    height: 100%;
    max-width : 150px;
    max-height : 150px;
    object-fit: cover;
}

.card-header {
    padding : 0 0 0 0;
}

.card-block {
    background-color: #E2D5DD;
    line-height : 100%;
}

.card-title {
    margin : 20% 0.3em 20% 0.3em;
    color : white;
}

@media screen and (max-width: 991px){
    /*media per iPad: cambio margin e grandezza cards per farci stare bene il testo*/
}
