h1 {
    color : #805d89;
    text-align : center;
    font-weight : bold;
    margin-top : 0.5em;
    margin-bottom : 1.0em;
}

.card-img {
    float: left;
    border-radius: 5px;
    width : 150px;
    height : 150px;
}

.card-header {
    margin-bottom: 15px;
}

.flex-container {
    flex-flow: nowrap;
    justify-content: center;
}

.card-title > a{
    color : #9271a8!important;
}