.display-3 {
    color : #805d89;
    text-align: center;
}

#title_lead {
    text-align: center;
}

.container-marketing {
    margin: 2% 10% 0 10%;
}

.container-cart {
    margin: 0 4em 0 4em;
}

.removeBook {
    float: right;
    min-width: 50px;
    min-height: 50px;
}

#actionsCol {
    padding: 0 0 0 0;
}

#orderHistory {
    margin : 10% 20% 0 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#orderBooks {
    margin : 20% 20% 20% 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#orderHistory > a {
    background-color : #AF94B6!important;
}

#orderBooks > a {
    background-color : #AF94B6!important;
}

#orderHistory > *{
    text-align: center;
}

#orderBooks > * {
    text-align: center;
}

#orderHistory > p {
    margin: 0 0.2em 0.4em 0.2em;
}

#orderBooks > p {
    margin: 0 0.2em 0.4em 0.2em;
}

h1.error-emoji {
    color : #AF94B6;
    text-align : center;
    font-size: 15vw;
    margin-bottom : 1.5rem;
    opacity : 0.5;
}

#orderHistoryEmptyPageLink {
    color : #805d89;
    font-weight: bold;
}

#empty-cart {
    color : #AF94B6;
    text-align : center;
    font-size : 2vw;
}

.lead {
    margin-bottom : 1em!important;
}

.col-10 > .row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.featurette {
    overflow : hidden;
    margin : 0 1em 0 1em;
}

.featurette-image {
    float: left;
    margin-left: 5%;
    border-radius: 5px;
    max-width : 100px;
    max-height : 150px;
}


.orderedBookName > h4{
    color : #9271a8!important;
    margin: 0 0 0 20%;
    font-size: larger;
}

.orderedBookName:hover {
    text-decoration-color: #9271a8;
}


.orderedBookAuthors {
    margin-left: 20%;
}

.icon-btn {
    float: right;
}

.material-icons {
    color : #63486a;
}

.row.action {
    margin-left: 0!important;
    margin-right: 0!important;
}

h4.action {
    margin: 0.5rem 0 0.5rem 0;
    color : #805d89;
}

h5.action {
    margin: 0.5rem 0 0.5rem 0;
    color : #805d89;
}

.modal-title {
    color : red;
}

@media screen and (max-width: 1024px){

    .orderedBookName > h4{
        font-size: large;
    }

    .orderedBookAuthors {
        font-size: small;
    }

    h4.action {
        margin: 0.75rem 0 0.75rem 0;
    }

    h5.action {
        margin: 0.75rem 0 0.75rem 0;
    }

    #orderHistory {
        margin : 10% 10% 0 15%;
    }

    #orderBooks {
        margin : 20% 10% 20% 15%;
    }

    #orderHistory > p {
        font-size: small;
    }

    #orderBooks > p {
        font-size: small;
    }

    .error-emoji {
        font-size: 1500%!important;
    }
}

@media screen and (max-width: 768px){

    .display-3 {
        font-size: 200%;
    }

    .lead {
        font-size: 100%;

    }

    .orderedBookName > h4{
        font-size: large;
    }

    .orderedBookAuthors {
        font-size: small;
    }

    .nCopies.text-right {
        font-size: small;
    }

    h4.action {
        margin: 0.75rem 0 0.75rem 0;
    }

    h5.action {
        margin: 0.75rem 0 0.75rem 0;
    }

    #orderHistory {
        margin : 10% 10% 0 15%;
    }

    #orderBooks {
        margin : 20% 10% 20% 15%;
    }

    #orderHistory > p {
        font-size: small;
    }

    #orderBooks > p {
        font-size: small;
    }

    .error-emoji {
        font-size: 1000%!important;
    }

    #empty-cart {
        font-size: larger;
    }
}

@media screen and (max-width: 450px) {

    .container-cart {
        margin: 0 1em 0 1em;
    }

    .display-3 {
        font-size: xx-large;
    }

    .lead {
        font-size: medium;
    }

    .featurette {
        margin-left: 0;
        margin-right: 0;
    }

    .featurette-image {
        max-width: 60px;
        max-height: 100px;
        margin-left: 0;
    }

    .orderedBookName > h4{
        font-size: 65%;
    }

    .orderedBookAuthors {
        font-size: 50%;
    }

    .nCopies.text-right {
        font-size: 50%;
    }

    h4.action {
        font-size: 65%;
    }

    h5.action {
        font-size: 65%;
    }

    #orderHistory > p {
        font-size: 50%;
    }

    #orderBooks > p {
        font-size: 50%;
    }

    .icon-btn {
        margin-top : 30%;
    }

    .pagination > li > a {
        font-size: 80%;
    }

    .error-emoji {
        font-size: 600%!important;
    }

    #empty-cart {

    }
}


.pagination {
    padding-left : 0;
    margin-top : 1em;
    margin-left : 33.3%;
    margin-right : 33.3%;
}

.page-item {
    display : inline-block;
}

.page-item a{
    color : #805d89;
    float : left;
    padding : 0.15em 0.30em 0.15em 0.30em;
    text-decoration : none;
    border-radius : 5px;
}

.page-item a.current {
    background-color : #AF94B6;
    color : white;
    border-radius : 5px;
}

.page-item a:hover:not(.current) {background-color : #E2D5DD;}
